.tc2rst *:not(button) {
    color: black;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
.example-data,
.example-data input,
.example-data textarea {
    
    font-size: 10pt;
    font-family: Arial;
    
}
.example-data input[type=text],
.example-data textarea {
    
    min-width: 300px;
    padding: 10px;
    
}
.example-data textarea {
    
    min-height: 150px;
    
}
.unstyled-example,
.styled-example {
    
    max-width: 600px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    
}
.unstyled-example .profile-card .profile-avatar {
    
    max-width: 300px;
    
}
.styled-example .profile-card {
    
    --avatar-size: 130px;
    box-shadow: 0 0 30px -10px black;
    border-radius: 5px;
    padding: 20px calc(40px + var(--avatar-size)) 20px 20px ;
    position: relative;
    font-family: Arial;
    min-height: var(--avatar-size);
    
}
.styled-example .profile-card .profile-swatch {
    
    display: none;
    
}
.styled-example .profile-card .profile-avatar {
    
    border-radius: 50%;
    width: var(--avatar-size);
    height: var(--avatar-size);
    padding: 20px;
    background-color: var(--profile-color);
    position: absolute;
    top: 20px;
    right: 20px;
    
}
.styled-example .profile-card h3 {
    
    display: block;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.7);
    border-bottom: solid 5px var(--profile-color);
    
}
.styled-example .profile-card .profile-blurb {
    
    line-height: 1.5em;
    white-space: pre-line;
    
}